VITE_XNO_CREATOR_STORE_URL=
LOGIN_RECEIVER_NANO_ADDRESS=nano_19o77pnp71wufuic4txepeumhtt6imouy71ekwi7165suax43dxeu3t4ro5q
NANO_RPC_URL=http://127.0.0.1:7076
NANO_RPC_FALLBACK_URLS=https://rpc.nano.to
NANO_RPC_TIMEOUT_MS=8000
REVELOX_API_PORT=8788
